<!-- <p>header works!</p> -->

<header id="header" class="fixed-top" style="background-color: white;">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo  -->
        <!-- <h1 class="text-light"><a href="#header"><span>TestYantra</span></a></h1> -->
         <a href="#intro" class="scrollto"><img src="https://www.testyantra.com/sites/default/files/tylog1.png" alt="" class="img-fluid"></a> </div> 

       <nav class="main-nav float-right d-none d-lg-block"> 
         <ul> 
           <li class="active"><a routerLink="/">Home</a></li>
           <li><a routerLink="/services">Services</a></li> 
           <li class="drop-down"><a routerLink="">Company</a> 
             <ul> 
              <li><a routerLink="/aboutUs">About Us</a></li>
            </ul>
          </li> 
          <li class="drop-down"><a routerLink="">Global Presence</a> 
            <ul> 
             <li><a routerLink="/contactUs">Contact Us</a></li>
           </ul>
         </li> 
           <!-- <li><a routerLink="/contactUs">Contact Us</a></li>  -->
         </ul> 
       </nav>       <!--.main-nav --> 
      
    </div> 
   </header>    <!--#header -->
   
