<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-table.css">
    <link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-form.css">
</head>

<body>

    <body>
        <a routerLink="/home"> <button type="button" class="btn btn-outline-info">Back</button></a>
        <!-- <button type="button" class="float-right ty-download"><i class="fa fa-download" aria-hidden="true"></i></button>
        <button type="submit" class="float-right ty-print"><i class="fas fa-print"></i></button> -->
        <div class="container">
            <div class="col-md-11  mt-4">
                <h3 class="ty-heading">Technologywise Billable Employees Details</h3>
                <table class="table table-hover table-bordered">
                    <thead class="text-white ty-header">
                        <tr>
                            <td>id</td>
                            <td>name</td>
                            <td>salary</td>
                            <td>age</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of pageOfItems">
                            <td>{{data.id}}</td>
                            <td>{{data.employee_name}}</td>
                            <td>{{data.employee_salary}}</td>
                            <td>{{data.employee_age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class=" mt-4 mb-4" id="ty-pagination">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </body>
</body>

</html>