<!-- <p>about-us works!</p> -->

<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p><strong>'TEST YANTRA' – The energy behind our QA services
        </strong></p>
        </header>

        <div class="row about-container">

          <div class="col-lg-12 content order-lg-1 order-2">
            <p>
                Yantra (यन्त्र) is a Sanskrit word for "machine" or "instrument". The word Yantra (यन्त्र) is derived from the root 'yam' meaning to sustain, hold or support.  ‘Test Yantra’ symbolizes the automated and expert contrivance that harness the energy and experience of the organization to make our client’s business successful through full range QA services.
            </p>
</div>
         <div class="col-lg-6 col-md-6 content order-lg-1 order-2">

            <div class="icon-box wow fadeInUp" style="position: relative;top: 50px;">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description" >Our Aim is to be a sustained, long term partner of our clients for a ‘hands-free’ Quality assurance responsibility.
               To be a global organization of repute, delivering world class Quality Assurance services and education, to enable out client’s business success.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s" style="position: relative;top: 50px;">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Mission </a></h4>
              <p class="description">To be the premier provider of software QA services through cost effective, reliable and customer friendly partnerships.
                Improve the skills and competencies of QA professionals through appropriate customizable training and consultancy services.
                Design and deliver industry leading solutions to the present and future QA refinements of our clients in the enterprise, technology and Services domains.</p>
            </div> 
      </div>
          
            <div class="col-lg-6 col-md-6  background order-lg-2 order-1 wow fadeInUp" style="position:relative;height: 500px;">
                    <img  src="https://www.testyantra.com/sites/default/files/inline-images/Our-Journey_1.jpg" class="img-fluid" alt="">
                  </div>
        

    </div>
    </div>
     </section>   <!--#about -->

