
 <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-6  mt-5 align-self-center">
            <h3 class="mt-3">Managed QA Services</h3>

            <img src="https://cdn.pixabay.com/photo/2015/06/06/07/37/team-799142__340.jpg"width="500px" height="300px" alt="">
          </div>
        <div class="col-md-6 text-center mt-5 middle-image">
            <p class="mt-5">Managed Test Service of Test Yantra provides value additions which are unique and are un-matchable. 
                Our services will help to reduce the labour cost and reduce the capital investment at the outset. 
                It will eliminate the need to invest on infrastructure and also helps to increase the productivity and accuracy. </p>                     
        </div>
       
    </div>
    <div class="row justify-content-center">
        <!-- Column -->
        
        <div class="col-md-6 text-center mt-4 middle-image">
            <p class="mt-5" style="font-size: 20px;font-weight: 400px;">1.Independent Verification and Validation </p>                     
        </div>
        <div class="col-md-6  mt-5 align-self-center">
            <img src="https://cdn.pixabay.com/photo/2014/08/14/10/38/software-417880__340.jpg"width="700px" height="400px" alt="">
          </div>
       
    </div>
    <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-6  mt-5 align-self-center">

            <img src="https://cdn.pixabay.com/photo/2012/02/16/12/08/test-13394__340.jpg"width="500px" height="300px" alt="">
          </div>
        <div class="col-md-6 text-center mt-5 middle-image">
                              
        </div>
       
    </div>
    <div class="row justify-content-center">
        <!-- Column -->
        
        <div class="col-md-6 text-center mt-4 middle-image">
            <!-- <p class="mt-5" style="font-size: 20px;font-weight: 400px;">2. Project Consulting Services</p>  <br>  -->
                             
        </div>
        <div class="col-md-6  mt-5 align-self-center">
            <img src="https://cdn.pixabay.com/photo/2014/10/24/09/04/software-500956__340.jpg"width="500px" height="400px" alt="">
          </div>
       
    </div>
</div>


