<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NewBiz Bootstrap Template</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

</head>

<body>

  <!--==========================
    Intro Section
  ============================-->

  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h1 class="text-white mt-5">Welcome To TestYantra</h1>
        <div>
          <a routerLink="/aboutUs" class="btn-get-started scrollto">Get Started</a>
          <a routerLink="/services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section>
  <!--#intro-->

  <!-- video -->

  <div class="static-slider6 bg-danger-gradiant">
    <div class="left-right-bg"
      style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/sliders/static-slider/slider6/img2.png)">
      <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-md-6 align-self-center">
            <h1 class="title mt-3 mb-2 text-dark"><b>Powerful Solution</b> for People who believe in <b>Quality</b> and
              <b>Ready to Rock!</b></h1>
          </div>
          <div class="col-md-6 text-center mt-4 middle-image">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/jwjGw3BCryI">
            </iframe>
          </div>

          <!-- Column -->
          <div class="col-md-6 text-center mt-4 middle-image">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/jwjGw3BCryI">
            </iframe>
          </div>
          <div class="col-md-6 text-center text-dark mt-4 middle-image">
            <h1 class="title mt-3 mb-2 text-dark"><b>Powerful Solution</b> for People who believe in <b>Quality</b> and
              <b>Ready to Rock!</b></h1>

          </div>
        </div>
      </div>

    </div>
  </div><br>


  <!--==========================
      Services Section
    ============================-->

  <div class="container mt-5">
    <!-- Row  -->
    <div class="row">
      <!-- Column -->
      <div class="col-md-4 mb-4">
        <div class="">
          <img class="rounded img-fluid" src="https://cdn.pixabay.com/photo/2014/08/14/10/38/software-417880__340.jpg"
            alt="wrappixel kit" />
          <div class="mt-4">
            <h6 class="font-weight-medium">Retargeting Market</h6>
            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great
              experience.</p>
            <a routerLink="/services" class="linking">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 mb-4">
        <div class="">
          <img class="rounded img-fluid" src="https://cdn.pixabay.com/photo/2012/02/16/12/08/test-13394__340.jpg"
            alt="wrappixel kit" />
          <div class="mt-4">
            <h6 class="font-weight-medium">Fruitful Results</h6>
            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great
              experience.</p>
            <a routerLink="/services" class="linking">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 mb-4">
        <div class="">
          <img class="rounded img-fluid" src="https://cdn.pixabay.com/photo/2014/10/24/09/04/software-500956__340.jpg"
            alt="wrappixel kit" />
          <div class="mt-4">
            <h6 class="font-weight-medium">Instant Solutions</h6>
            <p class="mt-3">You can relay on our amazing features list and also our customer services will be great
              experience.</p>
            <a routerLink="/services" class="linking">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3 text-center">
        <a class="btn btn-info-gradiant btn-md border-0 text-white"><span>View Details</span></a>
      </div>
    </div>
  </div><br>

  <!-- leadership -->
<!------ Include the above in your HEAD tag ---------->
<div  style="background-color:lightgray;">
<div class="auto-container">
			<div class="row">
				<div class="column  col-md-7 offset-3 col-sm-12">
					<div class="sec-title">
						<h2 class="text-center mt-5" style="font-family: fantasy;">LEADERSHIP</h2>
					</div>
				</div>					
			</div>							
		</div>	
  <div class="container col-md-5 offset-5">
    
    <div class="card-container">
      <div class="custom-card  ">
        <div class="card-img-box">
          <img src="https://www.testyantra.com/sites/default/files/inline-images/Girish_0.jpg" />
        </div>
        <div class="card-content">
          <h2>Girish<br><span>CEO and Managing Director</span></h2>
          <p>
            “Test Yantra” India’s largest Testing Services and Training Organization.
            With his exemplary leadership and entrepreneurial skills he has led Test Yantra from a 
            humble beginning of Training center to an accomplished Testing Services and Training organization with its 
            presence across globe.

          </p>
        </div>
      </div>
    </div>

  </div>
</div>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Privacy Policy</h3>
            <p>Terms of Use</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/aboutUs">About us</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="#">Terms of service</a></li>
              <li><a routerLink="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              #50, 2nd Floor, ''Brigade MLR Center'',
              Vani Vilas Road, Bangalore-560004 Karnataka, India
              e-mail contactus@testyantra.com
              phone +91 (080) 4120-4235
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore
              legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2019 Test Yantra Software Solutions
      </div>
    </div>

    <!-- frnfrjfjrfjnrfnrkfnr -->

    <div class="container mt-50">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"></h1>
        </div>
      </div>
    </div>

    <!--feedback-form-->
    <div id="feedback-form" class="feedback-form">

      <a href="#" class="feedback-form-btn btn btn-info btn-lg" id="OpenForm">Feedback</a>
      <div class="feedback_form_area">
        <div class="feedback_form_area_inner">
          <h3>Give Feedback</h3>

          <form>

            <div class="form-group">
              <label>Name</label>
              <input type="text" id="" class="custom-inp" />
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" id="" class="custom-inp" />
            </div>

            <div class="form-group">
              <label>Mobile</label>
              <input type="text" id="" class="custom-inp" />
            </div>

            <div class="form-group">
              <label>Query</label>
              <textarea id="" class="custom-inp-txt"></textarea>
            </div>

            <div class="">
              <input type="submit" id="" class="btn btn-success" />
            </div>

          </form>

        </div>
      </div>

    </div>
    <!--feedback-form-->

  </footer> <!-- #footer -->





</body>

</html>