<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-form.css">
</head>

<body style="height: 1100px;">
    <label for="title" class="ty-font heading">Package of Billable Employees</label>
    <!-- <small class="ty-font1 ">Enter the package details</small> -->

    <div class="card card-body  col-md-6 offset-3 mt-5">
        <div class=" card-body  col-md-12">
            <form action="" method="post" #form="ngForm" (ngSubmit)="postBillableEmployeesPackageDetails(form)">
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="text" class="form-control  inputText " id="dateOfPaymemtByClient" name="dateOfPaymemtByClient" #dateOfPaymemtByClient="ngModel" ngModel required onfocus="this.type='date' " placeholder="Date of payment by client" onblur="this.type='text'">
                        <div *ngIf="dateOfPaymemtByClient.invalid && (dateOfPaymemtByClient.dirty || dateOfPaymemtByClient.touched)" class="ty-errmsg ">
                            <div *ngIf="dateOfPaymemtByClient.errors.required"> Date of payment by client is required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="text" class="form-control  inputText " id="dateOfPaymemtByTyss" name="dateOfPaymemtByTyss" #dateOfPaymemtByTyss="ngModel" ngModel required onfocus="this.type='date' " placeholder="Date of payment by Tyss" onblur="this.type='text'">
                        <div *ngIf="dateOfPaymemtByTyss.invalid && (dateOfPaymemtByTyss.dirty || dateOfPaymemtByTyss.touched)" class="ty-errmsg ">
                            <div *ngIf="dateOfPaymemtByTyss.errors.required"> Date of payment by Tyss is required * </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br/>
                        <input type="number" class="form-control  inputText" id="rateCardByClient" name="rateCardByClient" #rateCardByClient="ngModel" ngModel required>
                        <span class="floating-label">Ratecard By Client</span>
                        <div *ngIf="rateCardByClient.invalid && (rateCardByClient.dirty || rateCardByClient.touched)" class="ty-errmsg ">
                            <div *ngIf="rateCardByClient.errors.required">RateCard by Client is required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font left user-input-wrp"><br />
                        <input type="number" class="form-control  inputText" id="rateCardByTyss" name="rateCardByTyss" #rateCardByTyss="ngModel" ngModel required>
                        <span class="floating-label">Ratecard By Tyss</span>
                        <div *ngIf="rateCardByTyss.invalid && (rateCardByTyss.dirty || rateCardByTyss.touched)" class="ty-errmsg ">
                            <div *ngIf="rateCardByTyss.errors.required"> RateCard by Tyss is required * </div>
                        </div>
                    </div>
                </div>

                <div class="float-right ty-create-button">
                    <button type="submit" class="btn btn-outline-primary ty-font" [disabled]='form.invalid'>Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>