<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-form.css"> -->
</head>

<body style="height: 1100px;">
    <label for="title" class="ty-font heading">Billable Employees</label>
    <!-- <small class="ty-font1 ">Enter the details of all billable employees</small> -->

    <div class="card card-body  col-md-6 offset-3 mt-5">
        <div class=" card-body  col-md-12">
            <form action="" method="post" #form="ngForm" (ngSubmit)="postBillableEmployeesDetails(form)">
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <input type="text" class="form-control  inputText" id="empName" name="empName"
                            #empName="ngModel" ngModel required>
                        <span class="floating-label">empName</span>

                        <div *ngIf="empName.invalid && (empName.dirty || empName.touched)" class="ty-errmsg ">
                            <div *ngIf="empName.errors.required">empName required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"> <br />
                        <select type="text" class="form-control inputText" id="clientName" name="clientName"
                            #clientName="ngModel" ngModel required>
                            <option value="" selected disabled>Select Client</option>
                            <option *ngFor='let data of clients'>{{data.clientName}}</option>

                        </select>

                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="text" class="form-control  inputText " id="dateOfDeployment"
                            name="dateOfDeployment" #dateOfDeployment="ngModel" ngModel required
                            onfocus="this.type='date' " placeholder="Date of deployment" onblur="this.type='text'">
                        <div *ngIf="dateOfDeployment.invalid && (dateOfDeployment.dirty || dateOfDeployment.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="dateOfDeployment.errors.required"> Date of deployment is required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="text" class="form-control  inputText " id="contractEndDate" name="contractEndDate"
                            #contractEndDate="ngModel" ngModel required onfocus="this.type='date' "
                            placeholder="Contract end date" onblur="this.type='text'">
                        <div *ngIf="contractEndDate.invalid && (contractEndDate.dirty || contractEndDate.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="contractEndDate.errors.required"> Contract end date is required * </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="number" class="form-control  inputText" id="rateCard" name="rateCard"
                            #rateCard="ngModel" ngModel required>
                        <span class="floating-label">Ratecard</span>
                        <div *ngIf="rateCard.invalid && (rateCard.dirty || rateCard.touched)" class="ty-errmsg ">
                            <div *ngIf="rateCard.errors.required">Ratecard is required * </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <select type="text" class="form-control inputText" id="stack" name="stack" #stack="ngModel"
                            ngModel required>
                            <option value="" selected disabled>Choose stack</option>
                            <option class="non">Java full Stack</option>
                            <option class="non">MEAN Stack</option>
                            <option class="non">Dot NET</option>
                            <option class="editable" value="other">Other</option>
                        </select>
                        <div *ngIf="stack.invalid && (stack.dirty || stack.touched)" class="ty-errmsg ">
                            <div *ngIf="stack.errors.required"> stack is required * </div>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-6 ty-font left user-input-wrp"><br />
                        <input type="text" class="form-control  inputText" id="stack" name="stack" #stack="ngModel" ngModel required>
                        <span class="floating-label">Stack</span>
                        <div *ngIf="stack.invalid && (stack.dirty || stack.touched)" class="ty-errmsg ">
                            <div *ngIf="stack.errors.required"> Stack is required * </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6 ty-font user-input-wrp"><br />
                        <input type="number" class="form-control  inputText" id="yearOfExperience"
                            name="yearOfExperience" #yearOfExperience="ngModel" ngModel required>
                        <span class="floating-label">Year of experience</span>
                        <div *ngIf="yearOfExperience.invalid && (yearOfExperience.dirty || yearOfExperience.touched)"
                            class="ty-errmsg ">
                            <div *ngIf="yearOfExperience.errors.required"> Year of experience is required * </div>
                        </div>
                    </div>
                </div>
                <div class="float-right ty-create-button">
                    <button type="submit" class="btn btn-outline-primary ty-font"
                        [disabled]='form.invalid'>Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>